@mixin subtitle{
    font-family: "Montserrat";
    font-size: $_subtitle;
    color: $_white;
    font-weight: 200;
    text-align: center;
}

@mixin search-input {
    font-family: "Montserrat";
    color: $_search;
    font-size: $_nav;
    font-weight: 200;
}

@mixin properties-title{
    font-family: 'Montserrat';
    font-size: 18px;
    color: $_black;
    font-weight: 500;
    text-align: left;
}

@mixin properties-subtitle{
    font-family: 'Montserrat';
    font-size: 16px;
    color: $_black;
    font-weight: 400;
    text-align: left;
}

@mixin properties-button{
    font-family: 'Montserrat';
    font-size: 16px;
    color: $_accent;
    font-weight: 400;
    text-align: left;
}